<div class="row" *ngIf="err || success">
	<div @popInOutAnimation class="col-md-12 notification">
		<div class="alert alert-danger" *ngIf="err">
			{{ err }}
		</div>
		<div class="alert alert-success" *ngIf="success">
			{{ success }}
		</div>
	</div>
</div>
<div id="contact-me" class="no-scrollbars">
	<div class="row no-gutters gutter-margin">
		<div class="col-md-12 vspace-bottom">
			<h1>Contact Me</h1>
		</div>
	</div>
	<div class="row no-gutters gutter-margin">
		<div class="col-md-12">
			<form id="form1" name="form1" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate [formGroup]="contactForm" (ngSubmit)="contact($event)" >
				<div [ngClass]="{ 'has-danger': !contactForm.controls['name'].valid && contactForm.controls['name'].touched }" class="form-group">
					<label class="desc control-label" id="title3" for="Field3">
						<svg class="icon">
							<use xlink:href="#user-shape" />
						</svg>
						Name<span id="req_3" class="req">*</span>
					</label>
					<input formControlName="name" id="Field3" name="Field3" type="text" class="field text medium form-control" value="" maxlength="255" tabindex="1" required placeholder="" aria-describedby="nameError"/>
					<small id="nameError" class="help-block text-muted" *ngIf="!contactForm.controls['name'].valid && contactForm.controls['name'].touched">
						I'll never get to know you if you don't provide a name!
					</small>
				</div>
				<div [ngClass]="{ 'has-danger': !contactForm.controls['email'].valid  && contactForm.controls['email'].touched}" class="form-group">
					<label class="desc control-label" id="title4" for="Field4">
						<svg class="icon">
							<use xlink:href="#at-sign" />
						</svg>
						Email<span id="req_4" class="req">*</span>
					</label>
					<input formControlName="email" id="Field4" name="Field4" type="email" spellcheck="false" class="field text medium form-control" value="" maxlength="255" tabindex="2" placeholder="" required aria-describedby="emailError" />
					<small id="emailHelp" class="form-text text-muted">I will never share your email with anyone else.</small>
					<small id="emailError" class="help-block text-muted" *ngIf="!contactForm.controls['email'].valid && contactForm.controls['email'].touched">
						Please provide an email address. I can't contact you back otherwise!
					</small>
				</div>
				<div [ngClass]="{ 'has-danger': !contactForm.controls['message'].valid && contactForm.controls['message'].touched }" class="form-group">
					<label class="desc control-label" aria-hidden="true" id="title5" for="Field5">
						<svg class="icon">
							<use xlink:href="#chat-comment-oval-speech-bubble-with-text-lines" />
						</svg>
						Message<span id="req_5" class="req">*</span>
					</label>
					<textarea formControlName="message" id="Field5" name="Field5" class="field textarea small form-control" spellcheck="true" rows="10" cols="50" tabindex="3" placeholder="" required aria-describedby="messageError"></textarea>
					<small id="messageError" class="help-block text-muted" *ngIf="!contactForm.controls['message'].valid && contactForm.controls['message'].touched">
						I suppose I could guess what you're trying to say to me... But I'd prefer not to mind read.
					</small>
				</div>
				<div class="form-group">
					<label for="comment" aria-hidden="true" class="control-label sr-only">
						Do Not Fill This Out
					</label>
					<textarea formControlName="leaveBlank" name="comment" id="comment" rows="1" cols="1" aria-hidden="true" class="sr-only"></textarea>
					<input type="hidden" id="idstamp" name="idstamp" value="oeS/R7xx09MzqKFzIG1OlJpkgucUGOGLdCc8GdL87Q8=" />
				</div>
				<div class="form-group">
					<button *ngIf="!sending; else sendingNotifier" type="submit" class="btn btn-primary" [disabled]="!contactForm.valid">
						Fire away!
						<svg class="icon">
							<use xlink:href="#send" />
						</svg>
					</button>
					<ng-template #sendingNotifier>
						<div id="is-sending">
							<div class="border active-typing">
								<span class="fade-in active-typing-dots">&bull;</span>
								<span class="fade-in active-typing-dots">&bull;</span>
								<span class="fade-in active-typing-dots">&bull;</span>
							</div>
						</div>
					</ng-template>
					<small id="emailHelp" class="form-text text-muted">* = required fields.</small>
				</div>
			</form>
		</div>
	</div>
	<div class="row no-gutters gutter-margin">
		<div class="col-md-12 vspace-bottom">
			<h1>Connect Via Social Networks</h1>
		</div>
	</div>
	<div class="row no-gutters gutter-margin">
		<div class="social col-3">
			<a href="https://www.linkedin.com/in/chris-rogers-b4792116/" target="_blank" title="Visit my LinkedIn profile">
				<svg id="linkedin-contact" class="icon">
					<use xlink:href="#linkedin-logo"></use>
				</svg>
			</a>
		</div>
		<div class="social col-3">
			<a href="https://twitter.com/PortChris" target="_blank" title="Visit my Twitter profile">
				<svg id="twitter-contact" class="icon">
					<use xlink:href="#twitter-logo-on-black-background"></use>
				</svg>
			</a>
		</div>
		<div class="social col-3">
			<a href="https://www.facebook.com/portchris.co.uk" target="_blank" title="Visit my Facebook profile">
				<svg id="facebook-contact" class="icon">
					<use xlink:href="#facebook-app-logo"></use>
				</svg>
			</a>
		</div>
		<div class="social col-3">
			<a href="mailto:chris@portchris.co.uk" title="E-mail me directly">
				<svg id="email-contact" class="icon">
					<use xlink:href="#multimedia"></use>
				</svg>
			</a>
		</div>
	</div>
</div><!-- #contact-me -->