<div class="row" *ngIf="err || success">
	<div class="col-md-12">
		<div class="alert alert-danger" *ngIf="err">
			{{ err }}
		</div>
		<div class="alert alert-success" *ngIf="success">
			{{ success }}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<form id="form1" name="form1" class="wufoo topLabel page" accept-charset="UTF-8" autocomplete="off" enctype="multipart/form-data" method="post" novalidate [formGroup]="contactForm" (ngSubmit)="contact($event)" >
			<div [ngClass]="{ 'has-danger': !contactForm.controls['name'].valid && contactForm.controls['name'].touched }" class="form-group">
				<label class="desc control-label" id="title3" for="Field3">
					Name<span id="req_3" class="req">*</span>
				</label>
				<input formControlName="name" id="Field3" name="Field3" type="text" class="field text medium form-control" value="" maxlength="255" tabindex="1" required placeholder="" aria-describedby="nameError"/>
				<small id="nameError" class="help-block text-muted" *ngIf="!contactForm.controls['name'].valid && contactForm.controls['name'].touched">
					I'll never get to know you if you don't provide a name!
				</small>
			</div>
			<div [ngClass]="{ 'has-danger': !contactForm.controls['email'].valid  && contactForm.controls['email'].touched}" class="form-group">
				<label class="desc control-label" id="title4" for="Field4">
					Email<span id="req_4" class="req">*</span>
				</label>
				<input formControlName="email" id="Field4" name="Field4" type="email" spellcheck="false" class="field text medium form-control" value="" maxlength="255" tabindex="2" placeholder="" required aria-describedby="emailError" />
				<small id="emailHelp" class="form-text text-muted">I will never share your email with anyone else.</small>
				<small id="emailError" class="help-block text-muted" *ngIf="!contactForm.controls['email'].valid && contactForm.controls['email'].touched">
					Please provide an email address. I can't contact you back otherwise!
				</small>
			</div>
			<div [ngClass]="{ 'has-danger': !contactForm.controls['message'].valid && contactForm.controls['message'].touched }" class="form-group">
				<label class="desc control-label" aria-hidden="true" id="title5" for="Field5">
					Message<span id="req_5" class="req">*</span>
				</label>
				<textarea formControlName="message" id="Field5" name="Field5" class="field textarea small form-control" spellcheck="true" rows="10" cols="50" tabindex="3" placeholder="" required aria-describedby="messageError"></textarea>
				<small id="messageError" class="help-block text-muted" *ngIf="!contactForm.controls['message'].valid && contactForm.controls['message'].touched">
					I suppose I could guess what you're trying to say to me... But I'd prefer not to mind read.
				</small>
			</div>
			<div class="form-group">
				<label for="comment" aria-hidden="true" class="control-label sr-only">
					Do Not Fill This Out
				</label>
				<textarea formControlName="leaveBlank" name="comment" id="comment" rows="1" cols="1" aria-hidden="true" class="sr-only"></textarea>
				<input type="hidden" id="idstamp" name="idstamp" value="oeS/R7xx09MzqKFzIG1OlJpkgucUGOGLdCc8GdL87Q8=" />
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary" [disabled]="!contactForm.valid">
					Fire away!
				</button>
				<small id="emailHelp" class="form-text text-muted">* = required fields.</small>
			</div>
		</form>
	</div>
</div>