<div id="sidebar" class="d-flex flex-column">
	<div #weatherPanel id="situation" class="box show p-2">
		<div class="panel-icon">
			<svg class="icon">
				<use xlink:href="#maps-and-flags" />
			</svg>
		</div>
		<h6>My Location:</h6>
		<div class="weather" *ngIf="weather">
			<div class="row">
				<div class="col-6">
					<span class="temp">{{ weather.main.temp }}&nbsp;&#8451;</span>
				</div>
				<div class="col-6">
					<svg class="icon">
						<use [attr.xlink:href]="weather.icon" />
					</svg>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="ticker-wrap">
						<div class="ticker">
							<div class="ticker__item">
								<span *ngIf="!timezone.dark;then daytime else nighttime"></span>
								<ng-template #daytime>
									<svg class="icon">
										<use xlink:href="#sun" />
									</svg>
								</ng-template>
								<ng-template #nighttime>
									<svg class="icon">
										<use xlink:href="#half-moon" />
									</svg>
								</ng-template>
								<span>{{ timezone.time }}</span>
								<span>{{ weather.name }}</span>
								<span>{{ timezone.timezone }}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div #cvPanel id="cv" class="box p-2">
		<div class="panel-icon">
			<svg class="icon">
				<use xlink:href="#man-in-suit-and-tie" />
			</svg>
		</div>
		<h6>Download CV:</h6>
		<a href="../../../assets/CV.pdf" class="dropdown-indicator" title="Download my CV" download>
			<img src="../../../assets/images/download.svg" class="svg-invert" alt="Download my CV" />
		</a>
	</div>
	<div id="connect-github" class="box p-2">
		<div class="panel-icon">
			<img src="../../../assets/images/github.svg" class="svg-invert" alt="Connect Via Github" />
		</div>
		<h6>Connect Via Github:</h6>
		<a href="https://github.com/portchris" target="_blank" title="Connect Via Github" class="dropdown-indicator">
			<img src="../../../assets/images/share.svg" class="svg-invert" alt="Connect Via Github" />
		</a>
	</div>
	<div id="connect-stackoverflow" class="box p-2">
		<div class="panel-icon">
			<img src="../../../assets/images/stackoverflow.svg" class="svg-invert" alt="View Me On Stack Overflow" />
		</div>
		<h6>View Me On Stack Overflow:</h6>
		<a href="https://stackoverflow.com/users/1238280/chris-rogers?tab=profile" target="_blank" title="View Me On Stack Overflow" class="dropdown-indicator">
			<img src="../../../assets/images/share.svg" class="svg-invert" alt="View Me On Stack Overflow" />
		</a>
	</div>
	<div id="connect-twitter" class="box p-2">
		<div class="panel-icon">
			<svg id="twitter-contact" class="icon">
				<use xlink:href="#twitter-logo-on-black-background"></use>
			</svg>
		</div>
		<h6>Connect Via Twitter:</h6>
		<a href="https://twitter.com/PortChris" target="_blank" title="Visit my Twitter profile" class="dropdown-indicator">
			<img src="../../../assets/images/share.svg" class="svg-invert" alt="Connect Via Twitter" />
		</a>
	</div>
	<div id="connect-linkedin" class="box p-2">
		<div class="panel-icon">
			<img src="../../../assets/images/linkedin.svg" class="svg-invert" alt="Connect Via LinkedIn" />
		</div>
		<h6>Connect Via LinkedIn:</h6>
		<a href="https://www.linkedin.com/in/chris-rogers-b4792116/" target="_blank" title="Visit my LinkedIn profile" class="dropdown-indicator">
			<img src="../../../assets/images/share.svg" class="svg-invert" alt="Connect Via LinkedIn" />
		</a>
	</div>
	<div #helpPanel id="help" class="box p-2">
		<div class="panel-icon">
			<svg class="icon">
				<use xlink:href="#info" />
			</svg>
		</div>
		<h6>Helper Commands:</h6>
		<ul class="content">
			<li *ngFor="let key of help">&quot;{{ key }}&quot;</li>
		</ul>
		<div class="shadow-bottom"></div>
		<a href="#" class="dropdown-indicator" (click)="changeShowStatus($event)">^</a>
	</div>
	<div id="connect-adobe" class="box p-2">
		<img src="../../../assets/images/adobe-certified-expert-adobe-commerce-developer-badge-white.png" alt="Adobe Commerce Certified Expert Developer" />
	</div>
</div>
