<div id="sidebar" class="d-flex flex-column">
	<div #weatherPanel id="situation" class="box show p-2">
		<div class="panel-icon">
			<svg class="icon">
				<use xlink:href="#maps-and-flags" />
			</svg>
		</div>
		<h6>My Location:</h6>
		<div class="weather" *ngIf="weather">
			<div class="row">
				<div class="col-6">
					<span class="temp">{{ weather.main.temp }}&nbsp;&#8451;</span>
				</div>
				<div class="col-6">
					<svg class="icon">
						<use [attr.xlink:href]="weather.icon" />
					</svg> 
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="ticker-wrap">
						<div class="ticker">
							<div class="ticker__item">
								<span *ngIf="!timezone.dark;then daytime else nighttime"></span>
								<ng-template #daytime>
									<svg class="icon">
										<use xlink:href="#sun" />
									</svg>
								</ng-template>
								<ng-template #nighttime>
									<svg class="icon">
										<use xlink:href="#half-moon" />
									</svg>
								</ng-template>
								<span>{{ timezone.time }}</span>
								<span>{{ weather.name }}</span>
								<span>{{ timezone.timezone }}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div #cvPanel id="cv" class="box p-2">
		<div class="panel-icon">
			<svg class="icon">
				<use xlink:href="#man-in-suit-and-tie" />
			</svg>
		</div>
		<h6>Download CV:</h6>
		<a href="../../../assets/CV.pdf" class="dropdown-indicator" download>
			<svg class="icon">
				<use xlink:href="#web" />
			</svg>
		</a>
	</div>
	<div id="connect-github" class="box p-2">
		<div class="panel-icon">
		</div>
		<h6>Connect Via Github:</h6>
		<a href="https://github.com/portchris" target="_blank" class="dropdown-indicator">
			<svg id="twitter-contact" class="icon">
				<use xlink:href="#twitter-logo-on-black-background"></use>
			</svg>
		</a>
	</div>
	<div id="connect-twitter" class="box p-2">
		<div class="panel-icon">
		</div>
		<h6>Connect Via Twitter:</h6>
		<a href="https://twitter.com/PortChris" target="_blank" title="Visit my Twitter profile">
			<svg id="twitter-contact" class="icon">
				<use xlink:href="#twitter-logo-on-black-background"></use>
			</svg>
		</a>
	</div>
	<div id="connect-linkedin" class="box p-2">
		<div class="panel-icon">
		</div>
		<h6>Connect Via LinkedIn:</h6>
		<a href="https://www.linkedin.com/in/chris-rogers-b4792116/" target="_blank" title="Visit my LinkedIn profile">
			<svg id="linkedin-contact" class="icon">
				<use xlink:href="#linkedin-logo"></use>
			</svg>
		</a>
	</div>
	<div #helpPanel id="help" class="box p-2">
		<div class="panel-icon">
			<svg class="icon">
				<use xlink:href="#info" />
			</svg>
		</div>
		<h6>Helper Commands:</h6>
		<ul class="content">
			<li *ngFor="let key of help">&quot;{{ key }}&quot;</li>
		</ul>
		<div class="shadow-bottom"></div>
		<a href="#" class="dropdown-indicator" (click)="changeShowStatus($event)">^</a>
	</div>
</div>
