
<div #scrollable id="message-stream">
	<div *ngFor="let msg of messages" class="row no-gutters">
		<div [ngClass]="{'flex-last': msg.key == 'user'}" class="msg {{ msg.class_selector }} col {{ msg.key }}">
			<blockquote @slideUpAnimation class="blockquote">
				<p [innerHTML]="msg.content"></p>
			</blockquote>
		</div>
		<div class="col">&nbsp;</div>
	</div>
	<div @slideUpAnimation class="row no-gutters gutter-margin" *ngIf="typing">
		<div class="col-md-12">
			<div class="border active-typing">
				<span class="fade-in active-typing-dots">&bull;</span>
				<span class="fade-in active-typing-dots">&bull;</span>
				<span class="fade-in active-typing-dots">&bull;</span>
			</div>
		</div>
	</div>
</div><!-- #message-stream -->
<div id="overflow-shadow">
	<div class="row no-gutters gutter-margin">
		<div #shadow class="shadow-bottom hidden col-md-12"></div>
	</div>
</div>
<div id="user-input">
	<div class="row no-gutters gutter-margin full-height">
		<form [formGroup]="talkForm" (ngSubmit)="doRespond($event, talkForm.controls['content'].valid)" class="col-md-12 full-height">
			<div [ngClass]="{'has-error': !talkForm.controls['content'].valid}" class="full-height">
				<input formControlName="id_linked_content_meta" type="hidden" name="id_linked_content_meta" [value]="question.id" [pattern]="question.pattern" required>
				<input formControlName="name" type="hidden" name="name" [value]="question.name">
				<input formControlName="title" type="hidden" name="title" [value]="question.title">
				<input formControlName="key" type="hidden" name="key" value="answer">
				<input formControlName="stage" type="hidden" name="stage" [value]="user.stage">
				<input formControlName="user_id" type="hidden" name="user_id" [value]="user.id">
				<input formControlName="page_id" type="hidden" name="page_id" [value]="page.id">
				<input formControlName="type" type="hidden" name="type" [value]="question.type">
				<input formControlName="method" type="hidden" name="method" [value]="question.method">
				<!-- span *ngIf="question.csrf">
					{{ question.csrf }}
				</span> -->
				<div class="talk" (click)="focusInput($event)">
					<input #searchBox formControlName="content" [type]="input_type" name="content" class="inline form-control mb-2 mr-sm-2 mb-sm-0 full-height" placeholder="Talk to meh" [value]="user.message">
					<span #searchFauxInput class="talk_FauxInput" dir="rtl"></span>
					<button type="submit" class="btn btn-primary full-height">
						<small>Talk</small>
					</button>
				</div>
			</div>
		</form>
	</div>
	<div class="row no-gutters gutter-margin">
		<div class="col-md-12">
			<div class="alert alert-danger" *ngIf="err">
				{{ err }}
			</div>
		</div>
	</div>
</div><!-- #user-input -->
