#message-stream {
	width: calc(100% + 5px);
	height: 85%;
	overflow-y: auto;
	transition: 0.2s 500ms ease-in-out;
}
#user-input {
	position: fixed;
	width: 100%;
	height: 15%;
	bottom: 0;
}
#message-stream blockquote {
	display: block;
	border-radius: 5px;
}
blockquote p {
	white-space: pre-wrap;
}
