header h1 {
	font-size: 23px;
}
header .p-2 {
	padding: 0 !important;
}
#logo {
	display: inline-block;
	width: 95px;
	height: 52px;
	margin-right: -35px;
	overflow: hidden;
}
#logo .icon {
	margin-top: -35px;
	width: 100%;
	height: auto;
}
#chris-rogers {
	max-width: 120px;
	margin-left: 15px;
}
.navbar-nav, .navbar {
	padding: 0;
	display: block;
}
.navbar li {
	transition: 0.2s 500ms ease-in-out;
	border: 2px solid transparent;
	border-right: none;
	padding: 5px;
	margin-right: 0;
	width: calc(100% + 15px);
}
.navbar li.active, .navbar li:hover {
	border: 2px solid #FFF;
	border-right: none;
}
.navbar li, .navbar li:active, .navbar li:focus, .navbar li.active {
	color: #FFF;
}