/* You can add global styles to this file, and also import other style files */
body, html {
	position: relative;
	background-color: transparent;
	color: #FFF;
	height: 100%;
	overflow-x: hidden;
	font-family: "Courier New", Courier, monospace;
	font-size: 0.9rem;
}
form .form-control, form .form-control:focus {
	background-color: transparent;
	border: solid 2px #FFF;
	color: #FFF;
}
h1, .h1 {
	font-size: 2rem;
}
h2, .h2 {
	font-size: 1.75rem;
}
h3, .h3 {
	font-size: 1.5rem;
}
h4, .h4 {
	font-size: 1.25rem;
}
h5, .h5, h6, .h6, dt {
	font-size: 1rem;
	font-weight: bold;
}
a, a:focus, a:hover {
	color: #FFF;
	transition: 0.2s 500ms ease-in-out;
}
a:focus, a:hover {
	text-decoration: underline;
}
ul {
	list-style-type: '>';
	padding-left: 7px;
}
ul li {
	padding-left: 7px;
}
hr {
	background-color: #FFF;
	margin-top: 0;
}
button.btn, button.btn-primary {
	border-radius: 0;
	background-color: #FFF;
	border: 2px solid #FFF;
	color: #272935;
	font-weight: bold;
	font-family: "Courier New", Courier, monospace;
}
button:hover, button:focus, .btn-primary:hover, .btn-primary:focus {
	cursor: pointer;
	background-color: #272935;
	color: #FFF;
	border: 2px solid #FFF;
	border-left: 2px solid #FFF;
	box-shadow: none;
}
.btn:disabled, .btn-primary:disabled, .btn:disabled:hover, .btn-primary:disabled:hover {
	border-color: #FFF;
	background-color: #FFF;
	color: #999;
	opacity: 0.5;
	cursor: not-allowed;
}
.btn-primary:active {
	background-color: #272935;
	color: #FFF;
}
.form-control:disabled, .form-control[readonly], .form-control.disabled {
	background-color: #CCC;
	opacity: 0.5;
}
.hidden {
	display: none;
}
.dl > dd, .dl > dt {
	padding-right: 5px;
	padding-left: 5px;
}
.full-height {
	height: 100%;
}
.overflowx-hidden {
	overflow-x: hidden;
}
.hpadding {
	padding-left: 25px;
	padding-right: 25px; 
}
.vpadding {
	padding-top: 25px;
	padding-bottom: 25px; 
}
.hspace {
	margin-left: 25px;
	margin-right: 25px; 
}
.vspace {
	margin-top: 25px;
	margin-bottom: 25px; 
}
.vspace-bottom {
	margin-bottom: 25px; 
}
.no-padding {
	padding: 0;
}
.no-scrollbars {
	width: calc(100% + 25px);
	height: 100%;
	overflow-y: auto;
	/*margin-left: 25px;*/
}
.gutter-margin {
	margin-right: 25px;
}
.header {
	border-right: 2px solid #FFF;
}
.box {
	border: 2px solid #FFF;
	margin-bottom: 10px;
}
.border {
	border: 2px solid #FFF;
}
.notification {
	position: fixed;
	top: 0;
	z-index: 99;
}
.active-typing {
	border-radius: 10px;
	padding: 0 10px;
	height: 30px;
	overflow: hidden;
	background: #FFF;
	float: left;
}
.active-typing-dots {
	font-size: 30px;
	color: #2B2F3D;
	line-height: 0;
	margin: 15px -7px 0px;
	display: inline-block;
}
.clickable:hover {
	cursor: pointer;
}
.typing > * {
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	animation: type 4s steps(60, end); 
	overflow-y: hidden;
}
.typing > *:nth-child(2) {
	animation: type2 8s steps(60, end);
}
.blinking {
	font-size: 24px;
	font-weight: bold;
	animation: blink 1s infinite;
}
.fade-in { 
	animation: fadeIn 4s infinite linear; 
	animation-fill-mode:both; 
}
.fade-in:nth-child(1) { 
	animation-delay: .5s; 
}
.fade-in:nth-child(2) { 
	animation-delay: 1s; 
}
.fade-in:nth-child(3) { 
	animation-delay: 1.5s; 
}
.shadow-bottom {
	position: relative;
	bottom: 0;
	z-index: 2;
	box-shadow: 0px -15px 15px -15px #000 inset;
	height: 20px;
	width: calc(100% - 15px);
	margin-top: -20px; 
}
#portfolio-shadow {
	opacity: 0.5;
}
.ticker-wrap {
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 1.2rem;  
	background-color: rgba(#000, 0.9); 
	padding-left: 100%;  /* Offset items to begin */

}
.ticker {
	position: absolute;
	top: 0;
	display: inline-block;
	white-space: nowrap; /* Display items in a line */
	padding-right: 100%; /* Ensure items go before animations repeat (taken from parent due to inline-block) */
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: ticker;
	animation-duration: 7.5s;
}
.ticker__item {
	display: inline-block;
	padding: 0 2rem;
}
portfolio .icon {
	width: 100%;
	height: auto;
	max-width: 25px;
	display: inline;
	max-height: 25px;
	margin-bottom: -5px;
}
::selection {
	background: black;
	color: #FFF;
}
@keyframes ticker {
	0% {
		transform: translate3d(0, 0, 0);
		visibility: visible;
	}
	100% {
		transform: translate3d(-100%, 0, 0);
	}
}
@keyframes type { 
	from { width: 100% }
	to { width: 0 }
} 
@keyframes type2 {
	0% { width: 0; }
	50% { width: 0; }
	100% { width: 100; } 
} 
@keyframes blink {
	to { opacity: .0; }
}
@keyframes fadeIn { 
	0% { opacity: 0; transform:scale(.1); }
	21.25% { opacity: 1; transform:scale(1.05); }
	25% { transform:scale(1); }
}
@media (max-width: 991px) {
	#sidebar {
		font-size: 0.75rem !important;
	}
	#situation .temp {
		font-size: 170% !important;
	}
	#situation .icon {
		max-height: 23px !important;
	}
}
@media (max-width: 767px) {
	.container {
		max-width: none;
		width: 100%;
	}
	.no-scrollbars, #message-stream {
		width: calc(100% - 10px) !important;
	}
	.header {
		position: fixed;
		top: 0;
		height: 130px;
		z-index: 10;
		border-right: 0;
	}
	.header nav.navbar, .header nav .navbar-nav {
		display: flex;
		flex-direction: row;
		margin-top: 0;
		width: 100%;
	}
	.nav-item {
		width: 100% !important;
		padding: 0;
	}
	a.nav-link {
		border: 2px solid #FFF !important;
		width: 100% !important;
		padding: 7px !important;
	}
	.nav-item:not(:last-child) a.nav-link {
		border-right: none !important;
	}
	a.nav-link:hover, a.nav-link:focus, a.nav-link.active {
		background-color: #FFF;
	}
	a.nav-link:hover, a.nav-link:focus, a.nav-link.active {
		color: #272935 !important;
	}
	.header p {
		margin-bottom: 0;
	}
	.main {
		position: fixed;
		top: 130px;
		height: calc(100% - 130px);
		padding-top: 15px;
	}
	.main > * {
		height: calc(100% - 15px) !important;
	}
	.main > home {
		height: calc(100% - 25px) !important;
	}
	.sidebar {
		display: none;
	}
	#user-input {
		width: calc(100% - 10px) !important;
	}
	#contact-me .form-control {
		max-width: none !important;
	}
}
