/* You can add global styles to this file, and also import other style files */
body, html {
	position: relative;
	background-color: transparent;
	color: #FFF;
	height: 100%;
	overflow-x: hidden;
}
/*blockquote.blockquote {
	background-color: #fff;
	border-left-color: #B5DBA3;
}*/
.hpadding {
	padding-left: 25px;
	padding-right: 25px; 
}
.vpadding {
	padding-top: 25px;
	padding-bottom: 25px; 
}
.hspace {
	margin-left: 25px;
	margin-right: 25px; 
}
.vspace {
	margin-top: 25px;
	margin-bottom: 25px; 
}
